In [1]:
import pandas as pd
import glob, os, time
import helper

In [2]:
helper.clean_niti_data('./CSV/')
files = glob.glob('./PROCESSED/*.csv')

Processed 13 files in 1.990990400314331 seconds

In [3]:
datas = [pd.read_csv(file) for file in files]

In [5]:
files = glob.glob('./PROCESSED/*.csv')
files

['./PROCESSED/Interest_Payments.csv',
 './PROCESSED/Aggregate_Expenditure.csv',
 './PROCESSED/Aggregate_Receipts.csv',
 './PROCESSED/Capital_Expenditure.csv',
 './PROCESSED/Capital_Receipts.csv',
 './PROCESSED/Fiscal_Deficits.csv',
 './PROCESSED/Nominal_GSDP_Series.csv',
 './PROCESSED/Outstanding_Liabilities.csv',
 './PROCESSED/Own_Tax_Revenues.csv',
 './PROCESSED/Revenue_Deficits.csv',
 './PROCESSED/Revenue_Expenditure.csv',
 './PROCESSED/Revenue_Receipts.csv',
 './PROCESSED/Social_Sector_Expenditure.csv']

In [6]:
feature_files = ['./PROCESSED/Capital_Receipts.csv',
 './PROCESSED/Aggregate_Receipts.csv',
 './PROCESSED/Social_Sector_Expenditure.csv',
 './PROCESSED/Interest_Payments.csv',
 './PROCESSED/Own_Tax_Revenues.csv',
 './PROCESSED/Fiscal_Deficits.csv',
 './PROCESSED/Outstanding_Liabilities.csv',
 './PROCESSED/Aggregate_Expenditure.csv',
 './PROCESSED/Revenue_Receipts.csv',
 './PROCESSED/Revenue_Expenditure.csv',
 './PROCESSED/Revenue_Deficits.csv',
 './PROCESSED/Capital_Expenditure.csv']

In [25]:
data = pd.read_csv(feature_files[0])
ind = pd.Series([],dtype=pd.StringDtype()) 
for i in data.T.index:
    ind = ind.append(pd.Series(i), ignore_index=True)

years = list(map(lambda str: str.split('-')[0], ind.values))
years.remove('State')
len(years)

37

In [55]:
for i in range(31):
    finalDF = pd.DataFrame()
    for file in feature_files:
        colname = os.path.splitext(os.path.basename(file))[0]

        mydata = pd.read_csv(file)
        series = pd.Series([],dtype=pd.StringDtype()) 
        for row in mydata.iloc[:1,i:].values:
            series = series.append(pd.Series(row), ignore_index=True)
        finalDF[colname] = series
        df = pd.DataFrame(finalDF)
#         df.index = years
        df.to_csv("final_csv/{}.csv".format(datas[0]['State'][i+1]), index=True)

In [59]:
pd.read_csv('final_csv/Kerala.csv')

,Unnamed: 0,Capital_Receipts,Aggregate_Receipts,Social_Sector_Expenditure,Interest_Payments,Own_Tax_Revenues,Fiscal_Deficits,Outstanding_Liabilities,Aggregate_Expenditure,Revenue_Receipts,Revenue_Expenditure,Revenue_Deficits,Capital_Expenditure
0,0,1261.00,6608.00,2741.0,590.0000,2650.0,967.1,418.09,6581.00,5347.00,5505.00,157.6,1076.00
1,1,1567.00,7849.00,3121.0,700.0000,3060.0,1125.3,486.37,7758.00,6282.00,6452.00,169.6,1306.00
2,2,1937.00,9003.00,3662.0,830.0000,3390.0,1569.3,560.30,8984.00,7066.00,7190.00,123.8,1793.00
3,3,2553.00,10804.00,3919.0,1030.0000,3830.0,1833.2,652.51,10541.00,8251.00,8018.00,-232.3,2523.00
4,4,3381.00,12167.00,4265.0,1260.0000,4230.0,2348.5,754.18,12459.00,8786.00,9514.00,727.8,2945.00
5,5,4457.00,14332.00,5507.0,1530.0000,4120.0,2416.8,832.82,14301.00,9875.00,10614.00,738.9,3687.00
6,6,4457.00,15650.00,6284.0,1840.0000,4880.0,2811.5,904.56,16265.00,11193.00,14392.00,3199.1,1872.00
7,7,4863.00,18704.00,6759.0,2150.0000,7110.0,2427.8,998.75,17745.00,13841.00,14544.00,703.2,3201.00
8,8,6814.00,21074.00,8927.0,2640.0000,7960.0,5705.6,1100.54,21958.00,14260.00,16944.00,2684.1,5014.00
9,9,6221.00,23026.00,8831.0,3100.0000,9010.0,4976.4,1236.80,22767.00,16805.00,18038.00,1233.3,4729.00
10,10,8310.00,27785.00,10006.0,3790.0000,10550.0,7305.9,1395.10,28119.00,19475.00,23070.00,3595.1,5049.00
11,11,9732.00,31577.00,10876.0,4580.0000,12560.0,6723.1,1505.50,31074.00,21845.00,24726.00,2881.3,6348.00
12,12,11253.00,34256.00,11179.0,6130.0000,12620.0,7630.0,1742.60,34373.00,23003.00,26057.00,3054.0,8316.00
13,13,14244.00,41113.00,13367.0,6860.0000,13810.0,7450.0,1962.00,40120.00,26869.00,29830.00,2962.0,10290.00
14,14,19377.00,48127.00,13821.0,7090.0000,16250.0,8190.0,1226.10,47153.00,28750.00,31307.00,2558.0,15845.00
15,15,13454.00,48305.00,14900.0,7010.0000,19210.0,8300.0,1405.10,48306.00,34851.00,34915.00,64.0,13391.00
16,16,13548.00,57793.00,18654.0,7280.0000,23930.0,5640.0,1609.00,56648.00,44245.00,41438.00,-2807.0,15210.00
17,17,23767.00,77910.00,24471.0,7590.0000,28790.0,8790.0,NaN,74875.00,54143.00,53984.00,-159.0,20892.00
18,18,13781.16,76639.61,31440.0,8060.0000,33360.0,12410.0,NaN,80803.89,62858.45,61854.22,-1000.0,18949.67
19,19,20697.64,85375.99,30280.0,8910.0000,35180.0,14010.0,NaN,85074.79,64678.35,63447.93,-1230.0,21626.86
20,20,21635.67,102631.97,39130.0,9670.0000,45140.0,11800.0,NaN,100635.64,80996.30,78534.26,-2460.0,22101.38
21,21,21919.13,115472.82,45400.0,10560.0000,53280.0,15400.0,NaN,115881.55,93553.69,90415.36,-3140.0,25466.19
22,22,25725.24,129555.52,49440.0,11660.0000,59880.0,17510.0,NaN,129440.92,103830.28,102702.38,-1130.0,26738.54
23,23,28860.16,139578.99,53740.0,12910.0000,64120.0,18040.0,NaN,136629.27,110718.83,110374.49,-340.0,26254.78
24,24,36366.71,127039.16,46150.0,10007.2210,38480.0,20320.0,NaN,111067.46,90672.45,98308.63,14240.0,12758.83
25,25,21727.49,111108.31,52450.0,9477.8651,44420.0,17580.0,NaN,112048.99,89380.82,97424.78,7300.0,14624.21
26,26,24790.16,134090.01,NaN,12258.3468,NaN,NaN,NaN,NaN,109299.85,NaN,NaN,NaN

In [29]:
csvs = glob.glob('./final_csv/*.csv')

In [30]:
csv_files = [pd.read_csv(file) for file in csvs]

In [45]:
csv_files[30]

,Unnamed: 0,Capital_Receipts,Aggregate_Receipts,Social_Sector_Expenditure,Interest_Payments,Own_Tax_Revenues,Fiscal_Deficits,Outstanding_Liabilities,Aggregate_Expenditure,Revenue_Receipts,Revenue_Expenditure,Revenue_Deficits,Capital_Expenditure
0,0,20697.64,85375.99,30280.0,8910.0000,35180.0,14010.0,NaN,85074.79,64678.35,63447.93,-1230.0,21626.86
1,1,21635.67,102631.97,39130.0,9670.0000,45140.0,11800.0,NaN,100635.64,80996.30,78534.26,-2460.0,22101.38
2,2,21919.13,115472.82,45400.0,10560.0000,53280.0,15400.0,NaN,115881.55,93553.69,90415.36,-3140.0,25466.19
3,3,25725.24,129555.52,49440.0,11660.0000,59880.0,17510.0,NaN,129440.92,103830.28,102702.38,-1130.0,26738.54
4,4,28860.16,139578.99,53740.0,12910.0000,64120.0,18040.0,NaN,136629.27,110718.83,110374.49,-340.0,26254.78
5,5,36366.71,127039.16,46150.0,10007.2210,38480.0,20320.0,NaN,111067.46,90672.45,98308.63,14240.0,12758.83
6,6,21727.49,111108.31,52450.0,9477.8651,44420.0,17580.0,NaN,112048.99,89380.82,97424.78,7300.0,14624.21
7,7,24790.16,134090.01,NaN,12258.3468,NaN,NaN,NaN,NaN,109299.85,NaN,NaN,NaN

In [44]:
mydata.iloc[:,:]

,State,1980-81,1981-82,1982-83,1983-84,1984-85,1985-86,1986-87,1987-88,1988-89,...,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17
0,Andhra Pradesh,449.0,445.0,427.0,546.0,656.0,633.0,824.0,853.0,977.0,...,20892.0,18949.67,21626.86,22101.38,25466.19,26738.54,26254.78,12758.83,14624.21,NaN
1,Arunachal Pradesh,NaN,NaN,NaN,NaN,NaN,NaN,78.0,102.0,111.0,...,809.0,1400.91,1537.88,1834.88,2247.31,1567.32,2050.23,2959.71,3410.48,NaN
2,Assam,401.0,215.0,208.0,254.0,330.0,264.0,437.0,469.0,420.0,...,2406.0,3242.55,3736.12,2995.15,3740.37,4610.72,5206.59,12550.78,12039.32,NaN
3,Bihar,862.0,704.0,583.0,711.0,721.0,868.0,1083.0,1295.0,1113.0,...,8008.0,8669.68,10211.86,12488.60,13680.55,14740.43,17927.94,31932.00,29477.21,NaN
4,Chhattisgarh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4189.0,3920.27,4293.28,4208.93,6092.65,7847.41,6582.37,9313.92,12080.89,NaN
5,Goa,NaN,NaN,NaN,NaN,NaN,NaN,83.0,90.0,85.0,...,781.0,1092.02,1296.97,1445.11,1471.49,1285.11,1346.22,2177.45,3573.75,NaN
6,Gujarat,539.0,526.0,666.0,752.0,762.0,653.0,853.0,996.0,1011.0,...,9142.0,13155.97,11696.95,14166.61,19669.73,28622.83,29462.03,32892.36,35532.05,NaN
7,Haryana,207.0,211.0,350.0,338.0,359.0,461.0,542.0,375.0,436.0,...,4553.0,5833.44,7304.55,6124.05,7736.54,8440.20,7041.55,8853.34,9805.18,NaN
8,Himachal Pradesh,150.0,84.0,90.0,101.0,134.0,177.0,183.0,196.0,216.0,...,2322.0,3054.22,2879.91,2885.19,3430.54,4540.34,3918.70,4449.58,4850.93,NaN
9,Jammu & Kashmir,154.0,252.0,178.0,198.0,238.0,294.0,336.0,408.0,439.0,...,5361.0,6303.03,7418.63,7102.11,7175.75,6660.81,4850.93,11420.62,11205.44,NaN
10,Jharkhand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5264.0,5162.26,5485.56,6259.46,5015.49,7001.99,6632.35,10766.22,12149.71,NaN
11,Karnataka,407.0,406.0,500.0,586.0,732.0,796.0,864.0,770.0,776.0,...,10656.0,12379.53,15426.59,17900.24,20641.09,20307.91,21459.13,24087.82,25084.75,NaN
12,Kerala,188.0,331.0,213.0,329.0,433.0,523.0,507.0,470.0,460.0,...,3801.0,4329.62,4701.12,6100.45,7744.52,8543.52,8884.39,9095.40,14018.62,NaN
13,Madhya Pradesh,573.0,562.0,610.0,700.0,788.0,813.0,818.0,879.0,978.0,...,9664.0,10516.38,14135.55,15043.59,27965.25,20528.79,19894.40,25139.97,27137.15,NaN
14,Maharashtra,696.0,850.0,957.0,1063.0,1183.0,1241.0,1433.0,1425.0,1561.0,...,15460.0,23374.57,22515.13,23696.05,25174.18,25466.44,31927.40,33255.32,38038.19,NaN
15,Manipur,88.0,43.0,44.0,53.0,89.0,91.0,101.0,104.0,115.0,...,1427.0,1781.50,1711.42,2036.88,1857.42,1676.67,1454.09,2187.54,1687.33,NaN
16,Meghalaya,42.0,27.0,32.0,40.0,44.0,53.0,73.0,74.0,94.0,...,517.0,749.94,650.98,757.47,1110.25,1123.87,1259.42,1990.39,1961.77,NaN
17,Mizoram,NaN,NaN,NaN,NaN,NaN,46.0,8.0,60.0,56.0,...,651.0,554.74,826.33,739.06,762.45,826.59,718.95,1254.71,1485.24,NaN
18,Nagaland,73.0,31.0,37.0,50.0,39.0,69.0,81.0,107.0,114.0,...,991.0,1059.93,1267.68,1388.22,1572.81,1592.75,1476.81,1635.84,1920.58,NaN
19,Odisha,336.0,240.0,367.0,214.0,384.0,410.0,482.0,582.0,602.0,...,5121.0,5482.74,5249.05,6683.37,7444.87,9018.07,10513.17,15854.91,18648.78,NaN
20,Punjab,267.0,376.0,438.0,614.0,785.0,800.0,627.0,990.0,798.0,...,3458.0,4216.72,3900.01,4162.85,3765.00,5049.34,6015.70,7448.21,9190.66,NaN
21,Rajasthan,432.0,537.0,464.0,487.0,535.0,609.0,691.0,845.0,845.0,...,8630.0,8672.64,8617.61,8829.97,11718.77,17802.12,18591.49,24923.69,26908.54,NaN
22,Sikkim,13.0,13.0,11.0,18.0,18.0,26.0,34.0,40.0,51.0,...,471.0,688.30,771.79,530.05,713.59,918.57,1011.08,1820.85,1267.22,NaN
23,Tamil Nadu,534.0,646.0,716.0,841.0,740.0,859.0,836.0,821.0,854.0,...,12773.0,14132.83,13354.98,17965.44,25627.23,24328.46,24367.71,24698.71,35041.23,NaN
24,Telangana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.00,0.00,0.00,0.00,0.00,0.00,20148.21,21458.98,NaN
25,Tripura,56.0,33.0,36.0,47.0,57.0,69.0,68.0,98.0,112.0,...,1041.0,1381.59,1543.72,1264.99,1628.67,1814.61,1876.42,4096.38,5823.37,NaN
26,Uttar Pradesh,952.0,1036.0,1127.0,1355.0,1894.0,1629.0,1876.0,1821.0,1822.0,...,22081.0,28429.22,31741.70,26910.22,29827.14,32996.57,42573.18,70712.59,76931.14,NaN
27,Uttarakhand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2720.0,2493.43,2639.66,2388.89,3257.03,5256.19,5306.82,7103.32,6154.31,NaN
28,West Bengal,437.0,527.0,451.0,441.0,588.0,714.0,810.0,913.0,804.0,...,8330.0,9319.79,9634.16,8423.98,10504.51,13246.62,16716.12,22819.48,25273.78,NaN
29,All States,7856.0,8094.0,8505.0,9737.0,11508.0,12097.0,13729.0,14784.0,14850.0,...,171520.0,200347.50,216176.06,226433.20,277041.39,302552.79,326394.31,444263.64,486780.83,NaN
30,Delhi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8389.0,8598.75,11025.04,11142.59,8437.57,9199.45,11685.08,8752.22,10726.91,NaN
31,Puducherry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,387.0,386.13,502.35,520.81,533.78,504.98,567.59,862.77,832.67,NaN