<a href="https://colab.research.google.com/github/vishnuchandramc/ML_DL_project_final/blob/master/GDP_MODEL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/vishnuchandramc/ML_DL_project_final.git

Cloning into 'ML_DL_project_final'...
remote: Enumerating objects: 166, done.
remote: Counting objects: 100% (57/57), done.
remote: Compressing objects: 100% (55/55), done.
remote: Total 166 (delta 27), reused 5 (delta 2), pack-reused 109
Receiving objects: 100% (166/166), 4.00 MiB | 23.84 MiB/s, done.
Resolving deltas: 100% (49/49), done.

In [2]:
!ls

ML_DL_project_final  sample_data

In [3]:
import pandas as pd
import numpy as np

In [10]:
data = pd.read_csv('ML_DL_project_final/NITI_DATA.csv')

In [11]:
data.head()

   Capital_Receipts  ...  Nominal_GSDP_Series
0             325.0  ...               8191.0
1             187.0  ...               2516.0
2             702.0  ...               7353.0
3             345.0  ...               7427.0
4             116.0  ...               3386.0

[5 rows x 13 columns]

In [12]:
niti.describe().T

                           count          mean  ...        75%       max
Capital_Receipts           660.0   2428.893939  ...   2583.750   37639.0
Aggregate_Receipts         660.0   7791.672727  ...   9882.000   72074.0
Social_Sector_Expenditure  660.0   2623.565152  ...   3512.000   24268.0
Interest_Payments          660.0   1060.228030  ...   1240.000   11870.0
Own_Tax_Revenues           660.0   2604.877273  ...   3174.750   33540.0
Fiscal_Deficits            660.0   1630.949848  ...   1736.150   18620.0
Outstanding_Liabilities    660.0    417.522303  ...    505.725    4067.4
Aggregate_Expenditure      660.0   7663.422727  ...   9737.250   72668.0
Revenue_Receipts           660.0   5362.778788  ...   7210.750   48438.0
Revenue_Expenditure        660.0   6022.030303  ...   7755.000   52280.0
Revenue_Deficits           660.0    659.255455  ...    594.675   18583.0
Capital_Expenditure        660.0   1641.445455  ...   1851.750   21622.0
Nominal_GSDP_Series        660.0  37596.312121  ...  44635.000  486766.0

[13 rows x 8 columns]

In [13]:
niti.corr()

                           Capital_Receipts  ...  Nominal_GSDP_Series
Capital_Receipts                   1.000000  ...             0.904869
Aggregate_Receipts                 0.958102  ...             0.956340
Social_Sector_Expenditure          0.901525  ...             0.951463
Interest_Payments                  0.945287  ...             0.909927
Own_Tax_Revenues                   0.864848  ...             0.957997
Fiscal_Deficits                    0.939052  ...             0.904112
Outstanding_Liabilities            0.914235  ...             0.954329
Aggregate_Expenditure              0.952641  ...             0.953906
Revenue_Receipts                   0.896756  ...             0.949542
Revenue_Expenditure                0.931491  ...             0.953390
Revenue_Deficits                   0.783977  ...             0.679997
Capital_Expenditure                0.941874  ...             0.875852
Nominal_GSDP_Series                0.904869  ...             1.000000

[13 rows x 13 columns]

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X = niti.iloc[:, 0:-1]

In [16]:
X.shape

(660, 12)

In [17]:
X.head()

   Capital_Receipts  Aggregate_Receipts  ...  Revenue_Deficits  Capital_Expenditure
0             325.0              1590.0  ...            -104.0                449.0
1             187.0               709.0  ...            -165.0                401.0
2             702.0              1690.0  ...             -59.0                862.0
3             345.0              1370.0  ...            -122.0                539.0
4             116.0               576.0  ...             -59.0                207.0

[5 rows x 12 columns]

In [18]:
Y = niti.iloc[:, -1]

In [19]:
Y

0        8191.0
1        2516.0
2        7353.0
3        7427.0
4        3386.0
         ...
655    293172.0
656     29968.0
657    230245.0
658    115374.0
659      7977.0
Name: Nominal_GSDP_Series, Length: 660, dtype: float64

In [20]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y)

In [21]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [22]:
from sklearn.neural_network import MLPRegressor
model = MLPRegressor(hidden_layer_sizes=(12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12), max_iter=5000)
model.fit(X_train, Y_train)

MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
             beta_2=0.999, early_stopping=False, epsilon=1e-08,
             hidden_layer_sizes=(12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12),
             learning_rate='constant', learning_rate_init=0.001, max_fun=15000,
             max_iter=5000, momentum=0.9, n_iter_no_change=10,
             nesterovs_momentum=True, power_t=0.5, random_state=None,
             shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
             verbose=False, warm_start=False)

In [23]:
model.score(X_test, Y_test)

0.9441475657151857

In [24]:
from sklearn.metrics import mean_squared_error, r2_score
Ya = Y_test
Yp = model.predict(X_test)
mse = mean_squared_error(Ya, Yp)
R2 = r2_score(Ya, Yp)
'MSE : {}, RMSE : {}, R2-Score : {}'.format(mse, np.sqrt(mse), R2)

'MSE : 214871546.4001857, RMSE : 14658.497412770032, R2-Score : 0.9441475657151857'

In [25]:
import pickle
from sklearn.externals import joblib

/usr/local/lib/python3.7/dist-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

In [26]:
filename = 'ML_DL_project_final/gdp_model.sav'
scalerfile = 'ML_DL_project_final/gdp_scale.sav'

In [27]:
pickle.dump(model, open(filename, 'wb'))
pickle.dump(scaler, open(scalerfile, 'wb'))

# using JobLib
joblib.dump(model, 'gdp.model')
joblib.dump(scaler, 'gdp.scaler')

['gdp.scaler']

In [28]:
loaded_model = pickle.load(open(filename, 'rb'))
loaded_scaler = pickle.load(open(scalerfile, 'rb'))
result = loaded_model.score(X_test, Y_test)
print(result)

0.9441475657151857