
# Sample Model - Logistic Regression

In [1]:
import pandas as pd
import numpy as np

In [2]:
niti = pd.read_csv('NITI_DATA.csv')

In [3]:
niti.head()

,Capital_Receipts,Aggregate_Receipts,Social_Sector_Expenditure,Interest_Payments,Own_Tax_Revenues,Fiscal_Deficits,Outstanding_Liabilities,Aggregate_Expenditure,Revenue_Receipts,Revenue_Expenditure,Revenue_Deficits,Capital_Expenditure,Nominal_GSDP_Series
0,325.0,1590.0,532.0,81.7,582.0,222.1,81.50,1610.0,1265.0,1161.0,-104.0,449.0,8191.0
1,187.0,709.0,171.0,30.0,66.0,-27.4,43.41,758.0,522.0,357.0,-165.0,401.0,2516.0
2,702.0,1690.0,452.0,107.1,277.0,335.8,106.33,1791.0,988.0,929.0,-59.0,862.0,7353.0
3,345.0,1370.0,406.0,68.6,531.0,246.5,80.76,1442.0,1025.0,903.0,-122.0,539.0,7427.0
4,116.0,576.0,137.0,37.0,234.0,112.0,30.76,607.0,460.0,401.0,-59.0,207.0,3386.0

In [4]:
niti.describe().T

,count,mean,std,min,25%,50%,75%,max
Capital_Receipts,660.0,2428.893939,4110.573309,-5116.00,238.7500,811.50,2583.750,37639.0
Aggregate_Receipts,660.0,7791.672727,10883.932609,38.00,1143.5000,3191.50,9882.000,72074.0
Social_Sector_Expenditure,660.0,2623.565152,3470.775608,9.00,381.2500,1114.00,3512.000,24268.0
Interest_Payments,660.0,1060.228030,1757.027349,0.00,81.7000,290.00,1240.000,11870.0
Own_Tax_Revenues,660.0,2604.877273,4224.076558,0.00,90.0000,879.50,3174.750,33540.0
Fiscal_Deficits,660.0,1630.949848,2688.436374,-360.00,159.9500,517.00,1736.150,18620.0
Outstanding_Liabilities,660.0,417.522303,596.079415,1.42,49.6725,177.21,505.725,4067.4
Aggregate_Expenditure,660.0,7663.422727,10658.752422,43.00,1175.5000,3078.50,9737.250,72668.0
Revenue_Receipts,660.0,5362.778788,7044.667651,37.00,892.5000,2347.50,7210.750,48438.0
Revenue_Expenditure,660.0,6022.030303,8317.578141,30.00,864.0000,2275.50,7755.000,52280.0
Revenue_Deficits,660.0,659.255455,1824.575250,-4328.00,-62.3750,41.25,594.675,18583.0
Capital_Expenditure,660.0,1641.445455,2554.712652,13.00,289.5000,797.00,1851.750,21622.0
Nominal_GSDP_Series,660.0,37596.312121,57944.592770,52.00,2963.0000,14311.00,44635.000,486766.0

## Splitting the Data

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X = niti.iloc[:, 0:-1]

In [7]:
X.shape

(660, 12)

In [8]:
Y = niti.iloc[:, -1]

In [9]:
Y.shape

(660,)

In [10]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y)

## Feature Scaling

In [11]:
from sklearn.preprocessing import StandardScaler

In [12]:
scaler = StandardScaler()

In [45]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

## Model Creation

In [46]:
from sklearn.linear_model import LogisticRegression

In [61]:
logmodel=LogisticRegression(max_iter=5000)
logmodel.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=5000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [63]:
from sklearn.metrics import mean_squared_error, r2_score

In [64]:
Ya = Y_test
Yp = logmodel.predict(X_test)
mse = mean_squared_error(Ya, Yp)
R2 = r2_score(Ya, Yp)

In [66]:
'MSE : {}, RMSE : {}, R2-Score : {}'.format(mse, np.sqrt(mse), R2)

'MSE : 628534808.8242425, RMSE : 25070.596499170944, R2-Score : 0.8639490906929266'